$color:#ff5934;
.address {
  .bottom {
    background: $color;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .isdefault {
    background: $color;
    padding: 6px 20px;
    border-radius: 10px;
  }
}