.my-dv {
  .my-top {
    background: url('https://m.mi.com/static/img/bg.63c8e19851.png') center 0 #f37d0f;
    background-size: 100% 100%;
    .user {
      width: 80px;
      height: 80px;
    }
  }

  .img {
    width: 50px;
    height: 50px;
  }
}