.news {
  .cover-dv {
    height: 200px;
    background: #f8f8f8;
    .img-small {
      padding: 10px;
      width: 150px;
      height: 150px;
    }
  }
  .name {
    width: 120px;
  }
  .name-o {
    width: 200px;
  }
}